@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  @apply mx-0 my-0 border-gray-500 text-white;
}

body {
  @apply relative min-h-screen w-screen bg-gray-900 p-3;
}

input,
textarea {
  @apply bg-gray-900 outline-none;
}
